*{ 
    font-size: 20px;
      box-sizing: border-box;
 margin: 0;
  }
  body{
  color:#4B0082;
    background-color:	#a484f6;
 
  }
  .page-nav{
    max-width: 960px;
    border: 3px solid #000000;
    margin-left: 20%;
    background-color: rgba(30, 212, 166, 0.47);
 
  }
  .page-nav li {
 
    display: inline-block;
    margin: 5px 30px 0 0;
    width: 250px;
    border: 3px solid #759cd8;
    background-color: #8b31c4;
    padding: 10px;
    border: 2px solid #000000;
  }
 
  nav ul li {
    margin:0 auto;
    border: 2px solid #000000;
    background-color: #e799f17c;
    min-height: 20px;
    width: 50%;
    text-align: center;
    }
  div {
    margin: 0 auto;
    max-width: 960px;
  }
  .link  {
   margin: 0 auto;
   flex-direction: column;
  }
  li{
   margin:10px auto;
  }
  ul{
   margin: 0 auto;
    display:inline-flex; 
    list-style-type: none;
  }
 
  a{
      display: block;
      color: #000000;  
  }
  a:hover{
      text-decoration: underline;
  }
  .table{
      border-collapse: collapse;
      border: 1px solid black;
      
  }
  th, td{
      border: 1px solid black;
  }
  #form{
   margin: 0 auto;
   padding:0 auto;
      align-items: center;
  }
  input, select, textarea{
      outline: none;
      border: 1px solid#e5e5e5;
  }
  input[type=submit],[type=radio], [type=date]{
      cursor: pointer;
  }
  input[type=submit]{
      background-color: rgb(255, 255, 255);
  }
  textarea{
      resize: none;
  }
  header{
      background-color: rgb(70, 174, 167);
 border-bottom: 5px solid #000000;
  }
  #main {
    background-color: rgb(140, 239, 232);
 border: 5px solid #000000;
 }
   img {
      border: 3px solid #000000;
    }
    .header_cont {
      padding: 15px 10px 0 10px;
      clear: both;
    }
    .header_cont div {
      display: inline-block;
      padding: 25px 0 0 10px;
    }
  .container{
      width: 100%;
  }
  tr:nth-child(even){
      background-color: #621ff4;
  }
  .footer{
      background-color: rgb(70, 174, 167);
  } 